.profile {
  max-width: 410px;
  margin: 0 auto;
}

.profile__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin: 74px auto 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile__data-container {
  margin: 123px 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  position: relative;
}

.profile__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin: 0;
  padding: 17px 0 0 0;
}

.profile__subtitle-name {
  padding: 0 0 16px 0;
  border-bottom: 1px solid #E8E8E8;
}

.profile__data {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #000000;
  margin: 0;
  padding: 17px 0 0 0;
  border: none;
}

.profile__data:focus {
  outline: 1px solid #F3C1F8;
}

.profile__name {
  padding: 0 0 16px 0;
  border-bottom: 1px solid #E8E8E8;
}

.profile__subtitle-email {
  grid-column: 1;
  grid-row: 2;
}

.profile__email {
  grid-column: 2;
  grid-row: 2;
}

.profile__error {
  margin: 10px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
  position: absolute;
  right: 0;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__error-name {
  bottom: 20px;
}

.profile__error-email {
  top: 50px;
}

.profile__error-edit {
  bottom: 65px;
  right: auto;
  max-width: 100%;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}

.profile__success_message {
  color: black;
  position: absolute;
  bottom: 45px;
}

.profile__success_message_disabled {
  display: none;
}

.profile__form-input_type_error {
  color: #FF4062;
}

.profile__edit-container {
  margin: 220px auto 16px auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.profile__edit {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  transition: opacity 0.6s;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: 0.7;
}

.profile__edit-submit {
  width: 410px;
  height: 45px;
  background: #3456F3;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin: 70px 0 0 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.profile__edit-submit:disabled {
  background: #F8F8F8;
  color: #C2C2C2;
  cursor: auto;
}

.profile__exit-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.profile__exit {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #FF4062;
  text-decoration: none;
  transition: opacity 0.6s;
}

.profile__exit:hover {
  opacity: 0.7;
}

@media (max-width: 950px) {
  .profile__title {
    margin: 236px auto 0 auto;
  }

  .profile__data-container {
    margin: 96px 0 0 0;
  }

  .profile__edit-container {
    margin: 210px auto 16px auto;
  }
}

@media (max-width: 650px) {
  .profile {
    max-width: 260px;
  }

  .profile__title {
    margin: 70px auto 0 auto;
  }

  .profile__data-container {
    margin: 80px 0 0 0;
  }

  .profile__edit-container {
    margin: 379px auto 16px auto;
  }

  .profile__edit {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__exit {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__edit-submit {
    margin: 160px 0 0 0;
    font-size: 12px;
    line-height: 15px;
  }
}