.register {
  max-width: 396px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.register__logo {
  width: 38px;
  height: 38px;
  background-image: url(../../images/movies-explorer-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 70px 0 40px 0;
}

.register__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 0 40px 0;
  padding: 0;
}

.input__conatiner {
  position: relative;
}

.register__form {
  position: relative;
}

.register__placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin: 0 0 10px 0;
}

.register__form-input {
  width: calc(100% - 15px);
  height: 46px;
  background: #F9F9F9;
  border: none;
  border-radius: 8px;
  margin: 0 0 20px 0;
  padding: 0 0 0 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.register__form-input:focus {
  outline: 1px solid #F3C1F8;
}

.register__form-input_type_error {
  color: #FF4062;
}

.register__error {
  margin: 10px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 396px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.register__error-server {
  bottom: 65px;
  right: auto;
  width: 100%;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}

.register__form-submit-btn {
  width: 100%;
  height: 45px;
  background: #000000;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  margin: 70px 0 0 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.register__form-submit-btn:disabled {
  background: #F8F8F8;
  color: #C2C2C2;
  cursor: auto;
}

.register__toggle-login {
  display: flex;
  flex-direction: row;
  margin: 16px 0 0 0;
  padding: 0;
  justify-content: center;
}

.register__toggle-login-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
  margin: 0 6px 0 0;
  padding: 0;
}

.register__toggle-login-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  transition: opacity 0.6s;
  margin: 0;
  padding: 0;
}

.register__toggle-login-link:hover {
  opacity: 0.7;
}

@media (max-width: 950px) {
  .register__logo {
    margin: 232px 0 40px 0;
  }
}

@media (max-width: 650px) {
  .register {
    max-width: 260px;
  }

  .register__logo {
    margin: 55px auto 50px auto;
  }

  .register__title {
    text-align: center;
    margin: 0 auto 80px auto;
  }

  .register__form-submit-btn {
    margin: 160px 0 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .register__toggle-login-subtitle {
    font-size: 12px;
    line-height: 15px;
  }

  .register__toggle-login-link {
    font-size: 12px;
    line-height: 15px;
  }

  .register__error {
    max-width: 260px;
  }
}