.search-form {
  width: var(--calculate-width);
  padding: 70px 0 69px 0;
  border-bottom: 1px solid #E8E8E8;
  margin: 0 auto;
}

.search-form__container {
  width: 100%;
  background: #FDFDFD;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form__logo {
  background-image: url(../../../images/search-icon.svg);
  width: 34px;
  height: 34px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 19px 10px 19px 19px;
  padding: 0;
}

.search-form__input {
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  height: 72px;
  margin: 0;
  padding: 0;
  width: calc(772px - 15px - calc((1280px - 100vw) * (412 / 512)));
}

.search-form__input:focus {
  outline: none;
}

.search-form__btn {
  background: #000000;
  border-radius: 48px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  width: 58px;
  height: 34px;
  margin: 0 19px 0 15px;
  padding: 0;
  transition: opacity 0.6s;
}

.search-form__btn:hover {
  opacity: 0.7;
}

@media (min-width: 1280px) {
  .search-form {
    max-width: 1280px;
  }

  .search-form__input {
    width: 880px;
  }
}

@media (max-width: 950px) {
  .search-form {
    width: calc(100% - 60px);
    padding: 80px 0 109px 0;
  }
}

@media (max-width: 650px) {
  .search-form {
    width: calc(100% - 20px - 19px);
    padding: 80px 0 35px 0;
  }

  .search-form__container {
    width: calc(100% + 19px);
    justify-content: space-between;
  }

  .search-form__logo {
    background-image: none;
    margin: 0 19px 0 0;
    width: 0;
    height: 0;
  }

  .search-form__input {
    width: calc(223/320 * 100vw - 36px);
    font-size: 14px;
  }

  .search-form__btn {
    margin: 0 19px 0 0;
  }

}