.about-me {
  padding: 110px 0 0 0;
  margin: 0;
  background-color: #fff;
}

.about-me__container {
  margin: 66px auto 0 auto;
  display: grid;
  max-width: var(--calculate-width);
  grid-template-rows: 58px 64px auto auto;
  column-gap: calc(270 / 1280 * 100%);
  justify-content: center;
}

.about-me__name {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0;
  padding: 0;
}

.about-me__text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  mix-blend-mode: normal;
  margin: 18px 0 0 0;
  padding: 0;
}

.about-me__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  mix-blend-mode: normal;
  margin: 0;
  padding: 0;
}

.about-me__link-git {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
  transition: opacity 0.6s;
  max-width: 46px;
  align-self: flex-end;
}

.about-me__link-git:hover {
  opacity: 0.7;
}

.about-me__photo {
  background-image: url(../../../images/student-photo.jpg);
  width: 270px;
  height: 327px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  grid-column: 2;
  grid-row: 1/5;
}

@media (min-width: 1280px) {
  .about-me__container {
    max-width: 1280px;
  }
}

@media (max-width: 950px) {
  .about-me {
    padding: 90px 0 0 0;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__container {
    margin: 66px auto 0 auto;
    grid-template-rows: 40px 54px auto auto;
    column-gap: 50px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}

@media (max-width: 650px) {
  .about-me {
    padding: 70px 0 0 0;
  }

  .main__title-container-about-me {
    max-width: calc(100% - 28px);
  }

  .about-me__container {
    max-width: calc(100% - 28px);
    grid-template-columns: 100%;
    justify-content: center;
    grid-template-rows: auto 76px 56px auto 57px;
    margin: 60px auto 0 auto;
  }

  .about-me__photo {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 352px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
    align-self: end;
  }

  .about-me__description {
    font-size: 11px;
    line-height: 16px;
  }
}